<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Try_TextMenu3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>636970941D24EF1600B81CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636970AD1D24EF1600B81CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>636970B81D24EF1700B81CE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
